* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: var(--line-height-content);
    vertical-align: baseline;
}

ul {
    list-style: none;
}
