@define-mixin dotted-line {
    background:
        linear-gradient(90deg, var(--color-active) 50%, transparent 0) repeat-x,
        linear-gradient(90deg, var(--color-active) 50%, transparent 0) repeat-x,
        linear-gradient(0deg, var(--color-active) 50%, transparent 0) repeat-y,
        linear-gradient(0deg, var(--color-active) 50%, transparent 0) repeat-y;
    background-size: 8px 2px, 8px 2px, 2px 8px, 2px 8px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove 0.5s infinite linear;
}