.SubjectList {
    &-list {
        display: flex;
        gap: 0.25em;
        flex-wrap: wrap;
    }
    &-item {
        &-checkbox {
            display: none;
        }
        &-label {
            @mixin button;
            text-transform: uppercase;
            color: var(--color-primary);
        }
        &-checkbox:checked + &-label {
            color: var(--color-invert);
            &::after, 
            &::before {
                background: var(--color-primary);
            }
        }
    }
    label {
        cursor: pointer;
    }
}