.SubjectList {
    padding: var(--box-padding);
    &-list {
        display: flex;
        gap: 0.25em;
        flex-wrap: wrap;
    }
    &-item {
        &-checkbox {
            display: none;
        }
        &-label {
            @mixin button-active;
            text-transform: uppercase;
            color: var(--color-primary);
        }
        &-checkbox:checked + &-label {
            color: var(--color-invert);
            &::after,
            &::before {
                background: var(--color-primary);
                border-bottom: 1px var(--color-primary) solid;
            }
        }
    }
    label {
        cursor: pointer;
    }
}
