:root {

    --color-primary: #fff;
    --color-primary-invert: #000;
    --color-secondary: #757575;
    --color-active: #00FFFF;
    --color-subtle:rgb(44, 44, 44);
    --color-invert: #000;

    --color-bg: var(--color-invert);
    --color-bg-semi: rgba(0,0,0,0.4);

    --color-warning: #FF0400;

    --color-line: var(--color-secondary);
    --color-heading: var(--color-primary);
    --color-body: var(--color-primary);
    --color-link: var(--color-active);

    --font-size-base: 20px;
    --font-heading: "Righteous", serif;
    --font-body: "Geo", serif;

    --gap: 1em;
    --box-padding: 1em;

    --sidebar-width: clamp(200px, 20vw, 450px);
    --aside-width: clamp(200px, 20vw, 450px);

    --cut: 2em;


}

