.ArticleLead {
    padding: 2em;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    &:hover & {
        &-main {
            --cut: 0em;
        }
        &-media-thumb-img {
            filter: saturate(200%);
        }
    }
    &-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &-media {
        flex: 1 0 50%;
        max-width: 640px;
        position: relative;
        margin-right: -4em;
        &:hover & {
            &-mini {
                &-thumb {
                    opacity: 0.3;
                    &:nth-child(1) {
                        transform: translate(-20%, 20%);
                    }
                    &:nth-child(2) {
                        transform: translate(0%, 20%);
                    }
                    &:nth-child(3) {
                        transform: translate(20%, 20%);
                    }
                }
            }
        }
        &-thumb {
            transition: clip-path .2s ease;
            --cut: 2em;
            @mixin clip;
            aspect-ratio: 1 / 1;
            &-img {
                transition: filter .2s ease-in;
                object-fit: cover;
                object-position: 50% 50%;
                height: 100%;
                animation: float 10s ease-in-out alternate infinite;
            }
        }
        &-mini {
            position: absolute;
            display: flex;
            gap: 1em;
            bottom: -1em;
            left: -1em;
            opacity: 1;
            width: 80%;
            z-index: 20;
            &-thumb {
                flex: 1 1 100%;
                filter: drop-shadow(0 0 1px var(--color-primary));
                --cut: 2em;
                aspect-ratio: 1 / 1;
                transition: all .3s ease;
                &-img {
                    object-fit: cover;
                    transition: filter .2s ease-in;
                    object-position: 50% 50%;
                    height: 100%;
                    animation: float 10s ease-in-out alternate infinite;
                }
                &:nth-child(1) {
                    img {
                        @mixin clip-tl-br;
                    }
                }
                &:nth-child(2) {
                    img {
                        @mixin clip-tr-bl;
                    }
                }
                &:nth-child(3) {
                    img {
                        @mixin clip-tl-br;
                    }
                }
            }
        }
    }
    &-main {
        --cut: 2em;
        @mixin clip-tl-bl;
        transition: clip-path .2s ease;
        flex: 1 1 auto;
        background: var(--color-bg-semi);
        backdrop-filter: blur(10px);
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        z-index: 20;
    }
    &-thumb {
        position: relative;
        img {
            width: 100%;
        }
        transition: all .3s ease;
    }
    &-title {
        font-size: 2em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        &-link {
            display: block;
        }
    }
    &-introduction {
        font-size: 1.2em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &-readmore {
        font-family: var(--font-heading);
        text-align: right;
        max-width: 18ch;
        display: flex;
        gap: 0.5em;
        align-items: center;
        margin-left: auto;
        font-size: 1.3em;
        text-transform: uppercase;
        &-arrow {
            transition: transform .2s ease-out;
            font-size: 2em;
        }
        &:hover & {
            &-arrow {
                transform: scale(1.2);
            }
        }
    }
}
