.ArticleList {
    background: var(--color-bg);
    min-height: 100vh;
    &-list {
        padding: 2em;
        --gap: 2em;
        --columns: 3;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        > * {
            flex: 0 1 calc((100% / var(--columns)) - (var(--gap) * (var(--columns) - 1) / var(--columns)));
            transition: all .2s ease-in;
        }
    }
    @media screen and (max-width: 1920px) {
        &-list {
            --columns: 2;
        }
    }
    @media screen and (max-width: 1024px) {
        &-list {
            --columns: 1;
        }
    }
}
