.ArticleList {
    background: var(--color-bg);
    min-height: 100vh;
    &-list {
        --gap: 2em;
        --columns: 3;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        > * {
            flex: 0 1 calc((100% / var(--columns)) - (var(--gap) * (var(--columns) - 1) / var(--columns)));
            transition: all .2s ease-in;
        }
    }
}