.ArticleList {
    background: var(--color-bg-semi);
    backdrop-filter: blur(40px);
    min-height: 100vh;
    border-top: 1px solid var(--color-line);
    &-head {
        /* display: flex; */
        /* justify-content: flex-end; */
    }
    &-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2em;
    }
    &-search {
        padding: 0.5rem;
        display: flex;
        gap: 0.5em;
        border-bottom: 1px solid var(--color-line);
        &-label {
            &:hover {
                cursor: pointer;
            }
        }
        &-input {
            width: 3ch;
            background: none;
            border: 1px solid var(--color-line);
            border: none;
            transition: width .2s ease;
            color: var(--color-primary);
            text-transform: uppercase;
            &:focus {
                width: 20ch;
            }
        }
    }
    &-filter {
        padding: 0.5rem;
        display: flex;
        gap: 1em;
        border-bottom: 1px solid var(--color-line);
        input {
            display: none;
        }
        label {
            text-transform: uppercase;
            color: var(--color-secondary);
            &:hover {
                cursor: pointer;
            }
        }
        input:checked + label {
            color: var(--color-primary);
        }
    }
    &-list {
        padding: 2em;
        --gap: 1em;
        --columns: 3;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: var(--gap);
    }
    &-item {
        /* width: 100%; */
        aspect-ratio: 3 / 2;
        display: flex;
        flex-direction: column;
        > * {
            height: 100%;
        }
    }
    @media screen and (max-width: 1920px) {
        &-list {
            --columns: 2;
        }
    }
    @media screen and (max-width: 1024px) {
        &-list {
            --columns: 1;
        }
    }
}
