@import 'shared/config.css';
@import 'shared/wrapper.css';
@import 'shared/reset.css';
@import 'shared/utilities/visibility.css';

@view-transition {
  navigation: auto;
}

@keyframes transitionIn{
  from {
      filter: blur(50px);
      opacity: 0;
  }
  to {
      filter: blur(0);
      opacity: 1;
  }
}

@keyframes transitionOut{
  from {
      filter: blur(0);
      opacity: 1;
  }
  to {
      filter: blur(50px);
      opacity: 0;
  }
}

/*
  default blend mode is multiple. Set to normal to avoid effects we don't want.
*/
::view-transition-old(root),
::view-transition-new(root) {
  /* mix-blend-mode: normal; */
  animation-fill-mode: both;
}

/*
  We don't want the outgoing screen to do anything, just get covered by next page.
*/
::view-transition-old(root) {
  animation: transitionOut 0.25s;
  animation-fill-mode: both;
}

::view-transition-new(root) {
  animation: transitionIn 0.5s ;
}