.Layout {
    &-header {
        /* position: sticky; */
        top: 0;
        background: var(--color-background);
        z-index: 10;
    }
    &-body {
        position: sticky;
        top: 0;
    }
    &-top {
        /* margin-top: 4rem; */
        padding: var(--gap) 0;
    }
    &-main {
        display: flex;
    }
    &-sidebar {
        flex: 0 0 var(--sidebar-width);
    }
    &-center {
        --cut: 3rem;
        flex: 1 1 50%;
        /* border: 1px solid var(--color-line); */
        min-height: var(--cut);
        position: relative;
        border-right: 1px solid var(--color-line);
        overflow: clip;
        padding: 1px;
        display: flex;
        flex-direction: column;
        &:after,
        &:before {
            position: absolute;
            content: '';
            width: 100%;
            left: 0px;
            z-index: -1;
        }
        &:before {
            height: var(--cut);
            top: 0;
            border: 1px solid var(--color-line);
            border-width: 1px 1px 0px 2px;
            transform: skew(-45deg);
            transform-origin: right bottom;
        }
        &:after {
            height: calc(100% - var(--cut) - 2px);
            bottom: 0px;
            border: 1px solid var(--color-line);
            border-width: 0px 0px 1px 1px;
        }
    }
    &-aside {
        flex: 0 0 var(--aside-width);
    }
    &-sticky {
        position: sticky;
        top: 0;
    }
}
