.Clock {
    display: grid;
    grid-template-areas:
        "time stars"
        "time moons"
        "time date";
    gap: 0.5em;
    white-space: nowrap;
    &-time {
        grid-area: time;
        display: flex;
        flex-direction: column;
        padding: 0.5em 1em 1em 1em;
        gap: 0.5em;
        background: url('/resources/img/news/triangle_inverted.svg') center center;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        &-time {
            display: flex;
            font-family: var(--font-heading);
            font-size: 2.5em;
            /* letter-spacing: -.1em; */
        }
        &-unit {
            display: inline-block;
            width: 2ch;
        }
        &-zone {
            font-size: 1.5em;
            font-family: var(--font-heading);
        }
    }
    &-stars {
        grid-area: stars;
        color: var(--color-secondary);
    }
    &-moons {
        grid-area: moons;
        color: var(--color-secondary);
    }
    &-date {
        grid-area: date;
        font-size:1.4em;
        color: var(--color-secondary);
    }
}
