.Clock {
    display: grid;
    grid-template-areas:
        "time stars"
        "time moons"
        "time date";
    gap: 0.5em;
    white-space: nowrap;
    &_time {
        grid-area: time;
        display: flex;
        flex-direction: column;
        padding: 0.5em 1em 1em 1em;
        gap: 0.5em;
        background: url('/resources/img/news/triangle_inverted.svg') center center;
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        &_time {
            font-size: clamp(2em, 2.5vw, 3em);
            width: 6ch;
            letter-spacing: -.1em;
        }
        &_zone {
            font-family: var(--font-heading);
        }
    }
    &_stars {
        grid-area: stars;
    }
    &_moons {
        grid-area: moons;
    }
    &_date {
        grid-area: date;
        font-size:1.4em;
    }
}
