.Marquee {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
    padding: 3px 0;
    overflow-x: hidden;
    &-track {
        /* padding-left: 100%; */
        /* box-sizing: content-box; */
        /* display: inline-flex; */
        /* animation: ticker 30s linear infinite; */
        /* will-change: translate3d; */
    }
    &-list {
        display: flex;
        gap: 1em;
        padding-left: 100vw;
        /* white-space: nowrap; */
        > * {
            /* display: inline; */
        }
        /* align-items: center; */
    }
    &-item {
        white-space: nowrap;
        &::after {
            content: ' ▽';
            color: var(--color-heading);
            font-size: 1.6em;
        }
    }
    &-link {
        font-family: var(--font-heading);
        color: var(--color-heading);
        font-size: 1.6em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 300;
        &:hover,
        &:focus {
            color: var(--color-link);
        }
    }
}
