.Weather {
    display: flex;
    gap: 1em;
    color: var(--color-secondary);
    position: relative;
    /* max-width: 60vw; */
    &-info {
        flex: 0 0 26ch;
        display: flex;
        gap: 0.5em;
        align-items: center;
        @keyframes pulse {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0.25;
            }
        }
        &.-warning & {
            &-icon {
                animation: pulse 1s ease-out infinite alternate;
                animation-fill-mode: both;
            }
        }
        &-icon {
            font-family: var(--font-heading);
            font-size: 5em;
            color: var(--color-warning);
            font-weight: bold;
        }
        &-message {
            font-family: var(--font-heading);
            color: var(--color-primary);
            font-size: 1.2em;
        }
    }
    &-track {
        flex: 0 0 calc(100% - 20px - 26ch);
        display: flex;
        gap: 2em;
        overflow-x: clip;
        align-items: center;
    }
    &-prediction {
        display: grid;
        gap: 0 1em;
        grid-template-areas:
            "timespan stats"
            "icon stats";
        &-timespan {
            grid-area: timespan;
            text-align: center;
            white-space: nowrap;
            color: var(--color-secondary);
        }
        &-icon {
            grid-area: icon;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                height: 100%;
                width: 3em;
                aspect-ratio: 1 / 1;
                stroke: var(--color-secondary);
                stroke-width: 1px;
            }
        }
        &-stats {
            grid-area: stats;
        }
        &-stat {
            white-space: nowrap;
            font-size: 0.9em;
            &.-temperature {
                grid-area: temperature;
            }
            &.-windspeed {
                grid-area: windspeed;
            }
            &.-radiation {
                grid-area: radiation;
            }
            &.-pressure {
                grid-area: pressure;
            }
            &.-humidity {
                grid-area: humidity;
            }
            &.-precipitation {
                grid-area: precipitation;
            }
        }
    }
}
